.cover-container {
    height: 94vh;
}

.flex-fill {
    flex: 1 1 auto;
}

#currentTime{
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
}

#currentDate{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

hr{
    border-color: white;
}

#panel-scroll-apps{
    background-color:#232323;
    border-radius: 15px;
    padding:20px;
    overflow-y: scroll;
    min-height: 1000px;
    max-height: 1000px;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}