<div class="container-fluid cover-container p-4">
    <div class="col-12">
        <main>
            <div class="row" id="home" [ngClass]="{'display-hide': apps_now != 'home'}">
                <div class="col-sm-6">
                    <span id="currentTime"></span><hr>
                    <span id="currentDate"></span>
                </div>

                <div class="col-sm-6 text-right">
                    <div id="penang-weather">
                        
                    </div>
                   <div id="kulim-weather">

                   </div>
                   <div id="batu-kawan-weather">

                    </div>
                </div>
                <!-- <div class="col-12">
                    <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div> -->
                <div class="col-sm-12 mt-5">
                    <h2 ><span class="badge badge-dark">News</span></h2>
                    <div *ngFor="let n of news; let i = index" class="mt-3">

                        <p class="oneline" (click)="changeNews(n.title,n.image,i)" style="font-size:25px"> <b>{{n.publish_date}}</b>&nbsp;&nbsp;|&nbsp;&nbsp;{{n.title}}</p>
                    </div>
                </div>
                <div class="col-sm-12 mt-5">
                    <h2 ><span class="badge badge-dark">Quote of the day</span></h2>
                    <blockquote class="blockquote mt-3">
                        <p class="mb-0 threeline">{{_quote_content}}</p>
                        <footer footer class="blockquote-footer">{{_quote_title}}</footer>
                    </blockquote>
                </div>
                <div class="col-12 mt-5">
                    <div class="row">
                        <div class="col-5">
                            <img src="assets/img/covid.gif" width="250"/>
                        </div>
                        <div class="col-7">
                            <h4>Let's fight the COVID-19 together!</h4>
                            <hr>
                            <h5 style="color:#f5424b">Malaysia COVID Statistics</h5>
                            <b style="font-size:25px">Total Cases:&nbsp;{{_covid_total}}</b><br>
                            <b style="font-size:25px">Total Recovered:&nbsp;{{_covid_recovered}}</b><br>
                            <b style="font-size:25px">Total New Cases:&nbsp;{{_covid_new_case}}</b><br>
                            <b style="font-size:25px">Total In ICU:&nbsp;{{_covid_icu}}</b><br>
                            <b style="font-size:25px">Total Deaths:&nbsp;{{_covid_deaths}}</b><br>
                            
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-5 text-center">
                    <h2>Together . We . Create . Posibilities</h2>
                    <br>
                    <carousel #myCarousel  [images]="images" [cellWidth]="'100%'" [loop]="true" [height]="500" [dots]="true" [lightDOM]="true" [autoplay]="true" [autoplayInterval]="1500"  [overflowCellsLimit]="1"> </carousel>
                </div>
            </div>
            <!--News-->
            <div class="row" id="news" [ngClass]="{'display-hide': apps_now != 'news'}">

                <div class="col-sm-12">
                    <button class="btn btn-outline-light" style="font-size:20px;" (click)="changePanel('home')">< Back</button>
                </div>
                <div class="col-sm-12 mt-5 text-center">
                    <p class="text-center display-5">{{_news_title}}</p>
                    <img [src]="_news_image" height="300" />
                
                    <div class="card shadow mt-5" style="background-color:black; height:1200px; overflow-y: scroll;">
                        <div class="card-body">
                            <p class="text-left" [innerHTML]="_news_content">
                               <!-- {{_news_content}} -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Random Food-->
            <div class="row" id="randomfood" [ngClass]="{'display-hide': apps_now != 'randomfood'}">

                <div class="col-sm-12">
                    <button class="btn btn-outline-light" style="font-size:20px;" (click)="changePanel('home')">< Back</button>
                </div>
                <div class="col-sm-12 mt-5 text-center" *ngIf="randomDone == 0">
                    <p class="text-center display-4">Random Food</p>
                    <img src="assets/img/food-noodle.gif"/>
                    <button class="btn btn-warning btn-block btn-lg" style="font-size:30px" (click)="changeFood()">Let's Find What To Eat!</button>
                </div>
                <div class="col-sm-12 mt-5 text-center" *ngIf="randomDone == 2">
                    <p class="text-center display-4">Random Food</p>
                    <img src="assets/img/random-food.gif"/>
                    <p class="text-center display-3"> Finding Food For You...</p>
                </div>
                <div class="col-sm-12" *ngIf="randomDone == 1">
                    <p class="text-center display-4">Random Food</p>
                    <div class="card shadow mt-5" style="background-color:black;overflow-y: scroll;">
                        <div class="card-body">
                            <div class=" row">
                                <div class="col-12 text-center">
                                    <img src="{{_food_image}}" *ngIf="_food_image" style="height:600px;"/>
                                    <img src="assets/img/no-photo.png" *ngIf="!_food_image" style="height:600px;"/>
                                    <h2 *ngIf="!_food_image">No photo available!</h2>
                                    <hr>
                                    <h3>{{_food_store_name}}</h3>
                                    <h4>{{_food_address}}</h4>
                                    <div class="text-left" style="font-size: 25px;">
                                        Ratings: {{_food_rating}}<br>
                                        <span *ngIf="_food_price">Price: {{_food_price}}<br></span>
                                        <span *ngIf="_food_phone">Phone: {{_food_phone}}</span>
                                        <div class="text-center mt-4">
                                            <div>Scan To Get Location!</div>
                                            <qrcode [qrdata]="_food_qr_code" [width]="120" [errorCorrectionLevel]="'M'"></qrcode>
                                        </div>
    
                                    </div>
                                    <button class="btn btn-warning btn-block btn-lg mt-5" style="font-size:30px" (click)="changeFood()">Find Another Food?</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!--Forex-->
            <div class="row" id="forex" [ngClass]="{'display-hide': apps_now != 'forex'}">

                <div class="col-sm-12">
                    <button class="btn btn-outline-light" style="font-size:20px;" (click)="changePanel('home')">< Back</button>
                </div>
                <div class="col-sm-12 mt-5 ">
                    <p class="text-center display-5 text-center" style="font-size:25px">EUR/GBP Forex Exchange</p>
                    <div class="col-12">
                        <select [(ngModel)]="forexSelected" class="form-control form-select-style" (ngModelChange)="onChangeForex($event)" >
                            <option [value]="'EUR'" selected>EUR</option>
                            <option [value]="'GBP'">GBP</option>
                        </select>
                    </div>
                    <div class="card shadow mt-5" style="background-color:black; height:840px; border: 0px solid white; overflow-y: scroll;">
                        <div class="card-body">
                            <div class="row p-2">
                                <div class="col-sm-12" *ngFor="let f of forexKeyList;" style="font-size:25px">
                                    <span style="color:#faab00">{{f}}</span> | {{current_forex[f]}}
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Fuel-->
            <div class="row" id="forex" [ngClass]="{'display-hide': apps_now != 'fuel'}">

                <div class="col-sm-12">
                    <button class="btn btn-outline-light" style="font-size:20px;" (click)="changePanel('home')">< Back</button>
                </div>
                <div class="col-sm-12 mt-5 ">
                    <p class="text-center display-4 text-center">Fuel Price</p>
                    <div class="card shadow mt-5" style="background-color:black; height:1200px; border: 0px solid white; overflow-y: scroll;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <img src="assets/img/fuel/ron95.png" width="500" >
                                    <h2>RM {{_fuel_ron95}}</h2>
                                </div>
                                <div class="col-12 text-center mt-5">
                                    <img src="assets/img/fuel/ron97.png" width="530">
                                    <h2>RM {{_fuel_ron97}}</h2>
                                </div>
                                <div class="col-12 text-center mt-5">
                                    <img src="assets/img/fuel/diesel.png"  width="500">
                                    <h2>RM {{_fuel_diesel}}</h2>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <!--Meme-->
            <div class="row" id="meme" [ngClass]="{'display-hide': apps_now != 'meme'}">

                <div class="col-sm-12">
                    <button class="btn btn-outline-light" style="font-size:20px;" (click)="changePanel('home')">< Back</button>
                </div>
                <div class="col-sm-12 mt-5 ">
                    <p class="text-center display-4 text-center">Meme Generator</p>
                    <div class="card shadow mt-5" style="background-color:black; height:1200px; border: 0px solid white; overflow-y: scroll;">
                        <div class="card-body">
                            <div class="row p-2">
                                <div class="col-12 text-center">
                                    <img class="img-fluid" src="{{_meme_url}}" />
                                    
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-warning btn-block btn-lg mt-5" style="font-size:30px" (click)="changeMeme()">More memes to get more cancer😉?</button>
                </div>
            </div>

            <!--Top 4 Crypto-->
            <div class="row" id="meme" [ngClass]="{'display-hide': apps_now != 'top_4_crypto'}">

                <div class="col-sm-12">
                    <button class="btn btn-outline-light" style="font-size:20px;" (click)="changePanel('home')">< Back</button>
                </div>
                <div class="col-sm-12 mt-5 ">
                    <p class="text-center display-4 text-center">Top 4 Cryptocurrency</p>
                    <div class="card shadow mt-5" style="background-color:black; height:1200px; border: 0px solid white; overflow-y: scroll;">
                        <div class="card-body">
                            <div class="row p-2">
                                <div class="col-sm-12" *ngFor="let c of _cryptoList;">
                                    <div class="row" style="font-size:25px">
                                        <div class="col">
                                            {{c.asset_id}}
                                        </div>
                                        <div class="col-auto" >
                                            <span style="color:#faab00">Price in USD:</span> {{c.price_usd}}
                                        </div>
                                    </div>
                                   
                                    <!-- <span style="color:#faab00">{{c}}</span> | {{current_forex[f]}} -->
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!--Greatech Stock Price-->
            <div class="row" id="greatech_stock_price" [ngClass]="{'display-hide': apps_now != 'greatech_stock_price'}">
                <div class="col-sm-12">
                    <button class="btn btn-outline-light" style="font-size:20px;" (click)="changePanel('home')">< Back</button>
                </div>
                <div class="col-sm-12 mt-5 ">
                    <p class="text-center display-4 text-center">Greatech Stock Price</p>
                    <div class="card shadow mt-5" style="background-color:black; height:1500px; border: 0px solid white; overflow-y: scroll;">
                        <div class="card-body text-left">
                            <h2 class=" text-center"><img src="assets/img/logo-greatech.png" class="img-fluid" width="800"/></h2>
                            
                            <br><br>
                            <h2 class="mt-5" style="color:#faab00">Market Cap <span style="color:white;"> : {{_gs_market_cap}}</span></h2> 
                            <h2 class="mt-5" style="color:#faab00">Nosh <span style="color:white;"> : {{_gs_nosh}}</span></h2> 
                            <h2 class="mt-5" style="color:#faab00">Average Volume <span style="color:white;"> : {{_gs_avg_volume}}</span></h2> 
                            <h2 class="mt-5" style="color:#faab00">4 Weeks Range <span style="color:white;"> : {{_gs_4weeks_range}}</span></h2> 
                            <h2 class="mt-5" style="color:#faab00">52 Weeks Price Votality <span style="color:white;"> : {{_gs_weekspricevolatility}}</span></h2> 
                            <h2 class="mt-5" style="color:#faab00">52 Weeks Range <span style="color:white;"> : {{_gs_52weeksrange}}</span></h2> 
                            <h2 class="mt-5" style="color:#faab00">52 Weeks Range Votality <span style="color:white;"> : {{_gs_weeksrangevolatility}}</span></h2> 
                            <h2 class="mt-5" style="color:#faab00">Average Price Target <span style="color:white;"> : {{_gs_avgpricetarget}}</span></h2> 
                            <h2 class="mt-5" style="color:#faab00">Price Target <span style="color:white;"> : {{_gs_pricetarget}}</span></h2> 
                        </div>
                    </div>
                    
                </div>

            </div>

            <!-- Stock Price-->
            <div class="row" id="stock_price" [ngClass]="{'display-hide': apps_now != 'stock_price'}">
                <div class="col-sm-12">
                    <button class="btn btn-outline-light" style="font-size:20px;" (click)="changePanel('home')">< Back</button>
                </div>
                <div class="col-sm-12 mt-5 ">
                    <p class="text-center display-4 text-center">Stock Price</p>
                    <div class="card shadow mt-5" style="background-color:black; height:1450px; border: 0px solid white; overflow-y: scroll;">
                        <div class="card-body text-left">
                            <div class="col-sm-12" *ngFor="let s of _stockList;">
                                <div class="row" style="font-size:25px">
                                    <div class="col">
                                        <h3>{{s.symbol}} {{s.changepercent}}</h3>
                                        <h4 class="mt-3" style="color:#faab00">Open <span style="color:white;"> : {{s.open}}</span></h4> 
                                        <h4 class="mt-2" style="color:#faab00">High <span style="color:white;"> : {{s.high}}</span></h4> 
                                        <h4 class="mt-2" style="color:#faab00">Low <span style="color:white;"> : {{s.low}}</span></h4> 
                                        <h4 class="mt-2" style="color:#faab00">Price <span style="color:white;"> : {{s.price}}</span></h4> 
                                        <h4 class="mt-2" style="color:#faab00">Volume <span style="color:white;"> : {{s.volume}}</span></h4> 
                                        <h4 class="mt-2" style="color:#faab00">Latest Trading Day <span style="color:white;"> : {{s.lastesttradingday}}</span></h4>
                                        <h4 class="mt-2" style="color:#faab00">Prev Close <span style="color:white;"> : {{s.prevclose}}</span></h4>
                                        <h4 class="mt-2" style="color:#faab00">Change US <span style="color:white;"> : {{s.change_US}}</span></h4> 

                                    </div>
                                </div>
                               
                                <!-- <span style="color:#faab00">{{c}}</span> | {{current_forex[f]}} -->
                                <hr>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>

            <!-- Career -->
            <div class="row" id="stock_price" [ngClass]="{'display-hide': apps_now != 'greatech_career'}">
                <div class="col-sm-12">
                    <button class="btn btn-outline-light" style="font-size:20px;" (click)="changePanel('home')">< Back</button>
                </div>
                <div class="col-sm-12 mt-5 ">
                    <p class="text-center display-4 text-center">Greatech Career</p>
                    <div class="card shadow mt-5" style="background-color:black; height:1450px; border: 0px solid white; overflow-y: scroll;">
                        <div class="card-body text-left">
                            <div class="col-sm-12" *ngFor="let c of _careerList;">
                                <h2>{{c.header}}</h2>
                                <div [innerHTML]="c.content">

                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>

            <div class="row" id="apps-panel" [ngClass]="{'display-hide': apps_now != 'apps-panel'}">

                <div class="col-sm-12">
                    <button class="btn btn-outline-light" style="font-size:20px;" (click)="changePanel('home')">< Back to Home</button>
                </div>
                <div class="col-sm-12 mt-5" >
                    <div class="text-white text-center" id="panel-scroll-apps">
                        <h1><span class="badge badge-light">Apps</span></h1>
                        <div class="row">
                            <div class="col-sm-6 pointer mt-5">
                                <img src="assets/img/exchange.png" class="img-fluid" width="100" (click)="changePanel('forex')"/>
                                <br><br>
                                <span style="font-size:25px">EUR/GBP Forex Rate</span>
                            </div>
                            <div class="col-sm-6 pointer mt-5">
                                <img src="assets/img/fast-food.png" class="img-fluid" width="100" (click)="changePanel('randomfood')"/>
                                <br><br>
                                <span style="font-size:25px">Random Food</span>
                            </div>
                            <div class="col-sm-6 pointer mt-5">
                                <img src="assets/img/gas-station.png" class="img-fluid" width="100" (click)="changePanel('fuel')"/>
                                <br><br>
                                <span style="font-size:25px">Fuel Price</span>                            
                            </div>
                            <div class="col-sm-6 pointer mt-5">
                                <img src="assets/img/tongue-out.png" class="img-fluid" width="100" (click)="changePanel('meme')"/>
                                <br><br>
                                <span style="font-size:25px">Meme Generator</span>                            
                            </div>
                            <div class="col-sm-6 pointer mt-5">
                                <img src="assets/img/cryptocurrencies-growing-up.png" class="img-fluid" width="100" (click)="changePanel('top_4_crypto')"/>
                                <br><br>
                                <span style="font-size:25px">Top 4 Cryptocurrency Price</span>                            
                            </div>
                            <div class="col-sm-6 pointer mt-5">
                                <img src="assets/img/logo-greatech.png" class="img-fluid" width="250" (click)="changePanel('greatech_stock_price')"/>
                                <br><br>
                                <span style="font-size:25px">Greatech Stock Price</span>                            
                            </div>
                            <div class="col-sm-6 pointer mt-5">
                                <img src="assets/img/stock-market (1).png" class="img-fluid" width="100" (click)="changePanel('stock_price')"/>
                                <br><br>
                                <span style="font-size:25px">Stock Price</span>                            
                            </div>
                            <div class="col-sm-6 pointer mt-5">
                                <img src="assets/img/career.png" class="img-fluid" width="100" (click)="changePanel('greatech_career')"/>
                                <br><br>
                                <span style="font-size:25px">Greatech Career</span>                            
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </main>
    </div>
</div>

<footer class="sticky-bottom pointer" style="text-align: center;" (click)="changePanel('apps-panel')">
    <!-- <i class="fas fa-th-large fa-3x"></i> -->
    <img src="assets/img/app.png" width="50"/>
</footer>