<div class="container-fluid cover-container p-4">
    <div class="col-12">
        <main>
            <div class="row">
                <div class="col-sm-4">
                    <span id="currentTime"></span><hr>
                    <span id="currentDate"></span>
                </div>
                <div class="col-sm-4">
                    <div id="penang-weather">
                        a
                    </div>
                   <div id="kulim-weather">
                        ab
                   </div>
                   <div id="batu-kawan-weather">
                        ac
                    </div>
                </div>
                <div class="col-sm-4 text-right">
                    
                </div>
            </div>

        </main>
    </div>
</div>

<footer class="sticky-bottom" style="text-align: center;">
    <i class="fas fa-th-large fa-3x"></i>
</footer>