.cover-container {
    height: 94vh;
}

.flex-fill {
    flex: 1 1 auto;
}

#currentTime{
    font-family: 'Orbitron', sans-serif;
    font-size: 40px;
}

#currentDate{
    font-family: 'Orbitron', sans-serif;
    font-size: 25px;
}

hr{
    border-color: white;
}

#panel-scroll-apps{
    background-color:#232323;
    border-radius: 15px;
    padding:20px;
    overflow-y: scroll;
    min-height: 1000px;
    max-height: 1000px;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* .wrap {
    width: 700px;
    height: 400px;
    padding: 0;
    overflow: hidden;
}
.frame {
    width: 1280px;
    height: 786px;
    border: 0;
    -ms-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    
    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
} */