<div class="container-fluid cover-container p-4">
    <div class="col-12">
        <main>
            <div class="row" id="home" [ngClass]="{'display-hide': apps_now != 'home'}">
                <div class="col-sm-6">
                    <span id="currentTime"></span><hr>
                    <span id="currentDate"></span>
                </div>

                <div class="col-sm-6 text-right">
                    <div id="penang-weather">
                        
                    </div>
                   <div id="kulim-weather">

                   </div>
                   <div id="batu-kawan-weather">

                    </div>
                </div>
                <div class="col-sm-12 mt-5">
                    <h2 ><span class="badge badge-dark">News</span></h2>
                    <div *ngFor="let n of news">
                        <p class="oneline" (click)="surfNet(n.link)"> <b>{{n.publish_date}}</b>&nbsp;&nbsp;|&nbsp;&nbsp;{{n.title}}</p>
                    </div>
                </div>
                <div class="col-sm-12 mt-5">

                </div>
            </div>

            <div class="row" id="browser" [ngClass]="{'display-hide': apps_now != 'browser'}">
                <div class="row">   
                    <div class="col-12">
                        <button class="btn btn-outline-light" (click)="changePanel('home')">< Back</button>
                    </div>
                    <div class="col-12">
                        <!-- <iframe [src]="surf_path">


                        </iframe> -->
                    </div>
                </div>


            </div>
        </main>
    </div>
</div>

<footer class="sticky-bottom pointer" style="text-align: center;" (click)="openAppsPanel()">
    <i class="fas fa-th-large fa-3x"></i>
</footer>